/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav{
  border: solid 1px black;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

ul{
  display: flex;
  gap: 40px;
}

li{
  list-style: none;
}

a{
  color: black !important;
  text-decoration: none;
}

.hero-container{
  display: flex;
  padding: 10px 160px 10px 160px;
  gap: 60px;
  border: solid 1px black;
  height: 720px;
}

.left-container, .right-container{
  border: solid 1px blue;
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro{
  border: solid 1px black;
}

.tech-stack {
  display: flex;
  gap: 20px; /* space between icons */
  justify-content: center; /* center on page */
  margin: 2rem 0;
  flex-wrap: wrap; /* optional if you have many icons */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tech-grid {
    grid-template-columns: 1fr;
  }
  
  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  
  .techstack {
    padding: 3rem 1rem;
  }
  
  .techstack .title {
    font-size: 2rem;
  }
}

.second-bottom-view{
  display: flex;
  margin-top: 50px;
  padding: 50px;
}

.right-view, .left-view{
  width: 50%;
  padding: 10px;
}
.right-view{
}
.left-view{
  position: sticky;
  top: 0;
  height: 100vh;
}

.projects{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Project1{
  border: solid 1px pink;
  height: 250px;
  width: 100%;
  background-color: pink;
  border-radius: 10px;
}
.Project2{
  border: solid 1px purple;
  height: 250px;
  width: 100%;
  background-color: purple;
  border-radius: 10px;
}
.Project3{
  border: solid 1px peachpuff;
  height: 250px;
  width: 100%;
  background-color: peachpuff;
  border-radius: 10px;
}